In [6]:
import pandas as pd
import numpy as np

In [7]:
file_path = './climate_analysis_data.csv'
climate_df = pd.read_csv(file_path)

climate_df.head()

,Año,Emisiones Totales (MtCO2e),Temperatura Anomalía (°C),Eventos Climáticos Extremos,Transporte,Industria,Energía,Agricultura,Residencial
0,1990,3436.35,0.20,22,1177.02,657.66,444.33,1049.01,797.39
1,1991,4876.79,0.13,34,1670.39,933.34,630.58,1488.74,1131.64
2,1992,4329.98,0.36,35,1483.10,828.69,559.87,1321.81,1004.75
3,1993,3996.65,0.19,30,1368.93,764.90,516.77,1220.06,927.41
4,1994,2890.05,0.37,27,989.90,553.11,373.69,882.25,670.62

In [8]:


# Definimos rangos de años y emisiones por sector
years = list(range(1990, 2025))
sectors = ["Transporte", "Industria", "Energía", "Agricultura", "Residencial"]

# Emisiones totales por año (en millones de toneladas de CO2 equivalente)
total_emissions = np.random.uniform(2500, 5000, len(years)).round(2)

# Dividimos las emisiones por sector (proporcionalmente)
emissions_by_sector = {
    sector: (total_emissions * np.random.uniform(0.1, 0.4)).round(2) for sector in sectors
}

# Temperatura promedio global por año (en °C por encima de la media preindustrial)
temperature_anomalies = np.linspace(0.2, 1.5, len(years)) + np.random.normal(0, 0.1, len(years))

# Número de eventos climáticos extremos por año
extreme_events = np.random.poisson(lam=30, size=len(years)) + np.arange(len(years)) // 5

# Combinamos todo en un DataFrame
data = {
    "Año": years,
    "Emisiones Totales (MtCO2e)": total_emissions,
    "Temperatura Anomalía (°C)": temperature_anomalies.round(2),
    "Eventos Climáticos Extremos": extreme_events,
}
data.update(emissions_by_sector)

climate_df = pd.DataFrame(data)

climate_df

,Año,Emisiones Totales (MtCO2e),Temperatura Anomalía (°C),Eventos Climáticos Extremos,Transporte,Industria,Energía,Agricultura,Residencial
0,1990,4184.21,0.14,26,873.45,968.56,476.28,1043.88,606.96
1,1991,4160.91,0.28,21,868.59,963.17,473.63,1038.07,603.58
2,1992,4080.33,0.27,31,851.77,944.52,464.46,1017.96,591.89
3,1993,3868.70,0.40,27,807.59,895.53,440.37,965.16,561.19
4,1994,2790.24,0.19,38,582.46,645.89,317.61,696.11,404.75
5,1995,3348.32,0.47,30,698.96,775.07,381.14,835.34,485.70
6,1996,4977.74,0.39,29,1039.10,1152.25,566.61,1241.85,722.07
7,1997,3528.71,0.41,18,736.62,816.83,401.67,880.34,511.87
8,1998,2701.96,0.39,42,564.03,625.45,307.56,674.09,391.94
9,1999,4286.93,0.47,34,894.90,992.34,487.98,1069.50,621.86
10,2000,3799.64,0.51,26,793.17,879.54,432.51,947.94,551.17
11,2001,4027.56,0.77,32,840.75,932.30,458.45,1004.80,584.23
12,2002,3297.07,0.59,28,688.26,763.21,375.30,822.55,478.27
13,2003,3874.05,0.89,32,808.71,896.77,440.98,966.50,561.97
14,2004,4987.38,0.82,26,1041.11,1154.48,567.71,1244.25,723.47
15,2005,4596.13,0.66,33,959.44,1063.91,523.17,1146.64,666.71
16,2006,4045.78,0.90,39,844.56,936.52,460.53,1009.34,586.88
17,2007,3580.00,0.73,37,747.32,828.70,407.51,893.14,519.31
18,2008,4105.40,0.87,36,857.00,950.32,467.31,1024.22,595.53
19,2009,3991.90,0.83,31,833.31,924.05,454.39,995.90,579.06
20,2010,3748.25,1.03,31,782.45,867.65,426.66,935.11,543.72
21,2011,4451.56,0.91,42,929.26,1030.45,506.72,1110.58,645.74
22,2012,3654.53,1.06,41,762.88,845.95,415.99,911.73,530.12
23,2013,3488.67,1.14,39,728.26,807.56,397.11,870.35,506.06
24,2014,3753.88,1.12,29,783.62,868.95,427.30,936.52,544.53
25,2015,4839.57,1.16,33,1010.26,1120.27,550.88,1207.38,702.02
26,2016,3859.40,1.13,29,805.65,893.38,439.31,962.84,559.84
27,2017,2879.04,1.32,28,601.00,666.44,327.72,718.26,417.63
28,2018,2510.82,1.24,34,524.13,581.21,285.80,626.40,364.22
29,2019,2581.15,1.40,39,538.81,597.49,293.81,643.95,374.42
30,2020,2961.70,1.43,39,618.25,685.58,337.13,738.89,429.62
31,2021,4026.76,1.37,40,840.59,932.12,458.36,1004.60,584.12
32,2022,3785.64,1.45,31,790.25,876.30,430.91,944.44,549.14
33,2023,2881.95,1.47,39,601.61,667.11,328.05,718.99,418.05
34,2024,4945.37,1.27,39,1032.35,1144.76,562.93,1233.77,717.37